<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Management</title>
    <link rel="stylesheet" href="/css/screen.css">
</head>

<body>
    <header>
        <h1>Welcome to the Member Management System!</h1>
        <p>Manage your members with ease. Register new members and view the list of existing ones.</p>
    </header>
    <main>
        <section id="registration">
            <h2>Member Registration</h2>
            <form id="reg" action="/kitchensink/members/register" method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                {#if errors.containsKey("name")}
                <span class="error">{errors.get("name")}</span>
                {/if}
                <br>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                {#if errors.containsKey("email")}
                <span class="error">{errors.get("email")}</span>
                {/if}
                <br>
                <label for="phoneNumber">Phone #:</label>
                <input type="tel" id="phoneNumber" name="phoneNumber" required>
                {#if errors.containsKey("phoneNumber")}
                <span class="error">{errors.get("phoneNumber")}</span>
                {/if}
                <br>
                <input type="submit" value="Register" />
            </form>
        </section>

        <section id="members">
            <h2>All Members</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                    </tr>
                </thead>
                <tbody>
                    {#each members}
                    <tr>
                        <td>{it.name}</td>
                        <td>{it.email}</td>
                        <td>{it.phoneNumber}</td>
                    </tr>
                    {/each}
                </tbody>
            </table>
        </section>
    </main>
</body>

</html>